html {
  background-color: #000;
}

.App {
  text-align: center;
  color: #FFF;
}




img, div {
  width: 200px;
  height: 200px;
  position: absolute;
}

.oneX {
  animation: x 13s linear infinite alternate;
}

.oneY {
  animation: y 7s linear infinite alternate;
  transform: rotate(3000deg);
}

.twoX {
  animation: x 10s linear infinite alternate;
}

.twoY {
  animation: y 9s linear infinite alternate;
  transform: rotate(2000deg);
}

.threeX {
  animation: x 8s linear infinite alternate;
}

.threeY {
  animation: y 5s linear infinite alternate;
  transform: rotate(2000deg);
}



@keyframes x {
  100% {
    transform: translateX( calc(100vw - 200px) );
  }
}

@keyframes y {
  100% {
    transform: translateY( calc(100vh - 200px) );
  }
}

/* Spinning */
@keyframes one-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}