html {
  background-color: #000;
}

.App {
  text-align: center;
  color: #FFF;
}

.square {
  width: 100px;
  height: 100px;
  background: red;
}

.circle {
  width: 100px;
  height: 100px;
  background: blue;
  border-radius: 50%
}

.oval {
  width: 200px;
  height: 100px;
  background: yellow;
  border-radius: 100px / 50px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid green;
}

.trapezoid {
  border-bottom: 100px solid orange;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 100px;
}

.parallelogram {
  width: 150px;
  height: 100px;
  transform: skew(20deg);
  background: purple;
}

.star {
  margin: 50px 0;
  position: relative;
  display: block;
  color: pink;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid pink;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}
.star:before {
  border-bottom: 80px solid pink;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.star:after {
  position: absolute;
  display: block;
  color: pink;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid pink;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

.pentagon {
  position: relative;
  width: 54px;
  box-sizing: content-box;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: tan transparent;
}
.pentagon:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent tan;
}

.hexagon {
  width: 100px;
  height: 57.735px;
  background: red;
  position: relative;
}
.hexagon::before {
  content: "";
  position: absolute;
  top: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 28.8675px solid red;
}
.hexagon::after {
  content: "";
  position: absolute;
  bottom: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 28.8675px solid red;
}

.octagon {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
}
.octagon:before {
  content: "";
  width: 100px;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 29px solid red;
  border-left: 29px solid #eee;
  border-right: 29px solid #eee;
}
.octagon:after {
  content: "";
  width: 100px;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 29px solid red;
  border-left: 29px solid #eee;
  border-right: 29px solid #eee;
}

.heart {
  position: relative;
  width: 100px;
  height: 90px;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}






/* Spinning for ShapeOne */
@media (prefers-reduced-motion: no-preference) {
  .square, .circle, .triangle {
    animation: one-spin infinite 10s linear;
  }
}
@keyframes one-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Spinning for ShapeTwo */
@media (prefers-reduced-motion: no-preference) {
  .oval, .trapezoid, .star {
    animation: two-spin infinite 8s linear;
  }
}
@keyframes two-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Spinning for ShapeThree */
@media (prefers-reduced-motion: no-preference) {
  .pentagon, .heart, .parallelogram {
    animation: three-spin infinite 12s linear;
  }
}
@keyframes three-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.x {
  animation: x 13s linear infinite alternate;
  animation: y 7s linear infinite alternate;
}

.y {
  animation: y 7s linear infinite alternate;
}

/* @keyframes x {
  100% {
    transform: translateX( calc(100vw - #{$size}) );
  }
}

@keyframes y {
  100% {
    transform: translateY( calc(100vh - #{$size}) );
  }
} */